@charset "EUC-KR";

/* '스포카 한 산스 네오' 폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: var();
	
	font-size: 1.1rem;
}
@media ( max-width : 1000px) {
	.f-size {
		font-size: 3.5vw;
	}
}

*{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

:root {
	--fontcolor: #787a84;
	--mainblue: #1da1f2;
	--lightgray: #cfd0d8;
}

.font-style{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

.blue_cl{
	color: #1da1f2 !important;
}

.blue_bg{
	background-color: #1da1f2 !important;
}

.white_cl{
	color: #fff !important;
}

.white_bg{
	background-color: #fff !important;
}

.lightgray_cl{
	color: var(--lightgray) !important;
}

a {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:link {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:visited {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:hover {
	color: var(--fontcolor);
	text-decoration: none !important;
}

ul, li {
	list-style: none;
}

.navstyle {
	/* 
	background-color: var(--mainblue);
	color: white;
	 */
	color: #6e707e;
}

.navbar {
	width: 100%; height: 100%;
}

#navLogo {
	font-size: 1.5rem;
	margin-right: 9%;
}

#navTitle {
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	letter-spacing: .05rem;
}

.nav-link span:hover {
	transition: all ease 0.5s;
	color: var(--mainblue);
}

.nav-link span {
	margin-left: 8%;
	letter-spacing: .04rem;
	font-size: 1.2rem;
}

.fa-sm {
	font-size: 1em;
}

#alertModal .modal-content {
	text-align: center;
}

#howModal .modal-dialog{
	max-width: 100%;
	width: 60%;
	text-align: left;
}

#howModal .modal-body > a {
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--mainblue);
	color: white;
	transition: all ease 0.4s;
}
#howModal .modal-body > a:hover {
	background-color: gray;
}