@charset "EUC-KR";

/* '스포카 한 산스 네오' 폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: var();
	
	font-size: 1.1rem;
}
@media ( max-width : 1000px) {
	.f-size {
		font-size: 3.5vw;
	}
}

*{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

:root {
	--fontcolor: #787a84;
	--mainblue: #1da1f2;
	--lightgray: #cfd0d8;
}

.blue_cl{
	color: #1da1f2 !important;
}

.blue_bg{
	background-color: #1da1f2 !important;
}

.white_cl{
	color: #fff !important;
}

.white_bg{
	background-color: #fff !important;
}

a {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:link {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:visited {
	color: var(--fontcolor);
	text-decoration: none !important;
}
a:hover {
	color: var(--fontcolor);
	text-decoration: none !important;
}

ul, li {
	list-style: none;
}